/** 
 *  This CSS provides all the style settings for
 *  our JavaFX controls.
 *
 *  @author McKilla Gorilla & _____________
 */

.slide_show_edit_vbox {
    -fx-background-radius: 5.0;
    -fx-background-color: #F9F7B7;
    -fx-border-color: rgb(200, 200, 200);
    
    
}

.slide_edit_view {
    
    -fx-background-radius: 10.0;
    -fx-background-color: F8F5A0;
    -fx-border-color: rgb(70, 5, 5);
    -fx-border-thickness: 10px;
    -fx-spacing: 60px;
}

.selected_slide_edit_view {
    
    -fx-background-radius: 10.0;
    -fx-background-color: F8F5A0;
    -fx-border-color: rgb(200, 200, 200);
    -fx-border-thickness: 10px;
    -fx-spacing: 60px;
}
.vertical_toolbar_button {
    -fx-background-color: #ECE412;
    -fx-padding: 10px 10px 10px 10px;
    -fx-spacing: 50px;
}

.horizontal_toolbar_button {
    -fx-padding-left: 10px;
    -fx-padding-right: 20px;
}

.horizontal_toolbar_pane {
    -fx-color: #F6F288;
}

.css_class_ssmpane {
    -fx-background-color: #FDFCE7;
    -fx-color:yellow;
}

.css_class_languagedialog {
    
    -fx-font: serif;
    -fx-padding: 20px;
    -fx-spacing: 15px;
    
    -fx-background-color: #FBFACF;
    -fx-color: #F2ED58;
    
}

.css_class_language_label {
    -fx-font-weight: bold;
}

.css_class_caption_label {
    
    -fx-font-weight: bold;
}





